body{
    font: 20px Ariel, sans-serif;
}
.navbar {
    background-color: rgb(226, 238, 245);
}

.quem-somos{
    background-color: rgb(151, 151, 194);
}

.margin {
        padding-bottom: 50px;
        padding-top: 10px;

}

.parceiros {
    background-color: rgb(173, 173, 245);
}

.bg-footer{

    background-color: black;
    color: white;
}